event_schema.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema
xmlns:xs="http://www.w3.org/2001/XMLSchema">

<xs:element name="events">

<xs:complexType>
<xs:sequence>

<xs:element name="event">

<xs:complexType>
<xs:sequence>

<xs:element name="title" type="xs:string"/>
<xs:element name="venue" type="xs:string"/>
<xs:element name="participants" type="xs:integer"/>

</xs:sequence>
</xs:complexType>

</xs:element>

</xs:sequence>
</xs:complexType>

</xs:element>

</xs:schema>
